body{

margin:0;

font-family:Arial;

background:#f4f4f4;

}

header{

background:#0078D4;

color:white;

text-align:center;

padding:40px;

}

.logo{

width:120px;

margin-bottom:20px;

}

.container{

width:80%;

margin:auto;

background:white;

padding:40px;

margin-top:30px;

text-align:center;

border-radius:10px;

box-shadow:0 0 10px rgba(0,0,0,0.2);

}

button{

background:#0078D4;

color:white;

padding:12px 25px;

border:none;

cursor:pointer;

font-size:18px;

border-radius:5px;

}

button:hover{

background:#005A9E;

}

footer{

background:#222;

color:white;

text-align:center;

padding:15px;

margin-top:40px;

}